<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .add-staff-btn {
            display: none; /* Initially hide the button */
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Admin Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" >BOOKING</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" >STAFF</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" >REPORT</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" onclick="signOut()" href="#">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1>Welcome to the Admin Dashboard</h1>
        <div th:if="${user != null}">
            <p th:text="'Email: ' + ${user.getEmail()}"></p>
            
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>ID</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="staff : ${staffList}">
                            <td th:text="${staff.getStaffEmail}"></td>
                            <td th:text="${staff.getStaffID}"></td>
                            <td th:text="${staff.getStaffName}"></td>
                        </tr>
                    </tbody>
                </table>
            
        </dizv>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script th:src="@{/firebase.js}"></script>
    <script th:src="@{/authSignOut.js}"></script>
</body>
</html>
