<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
    <style>
        .section-title {
            background-color: #f8f9fa;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 15px;
            font-size: 1.25rem;
            font-weight: bold;
        }
        .section-content {
            margin-bottom: 30px;
        }
        #calendar-container {
            max-width: 600px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
        <a class="navbar-brand" href="#">KELAB KOMUNITI TAMAN TASIK CYBERJAYA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="showSection('booking-section')">BOOKING</a>
                </li>
                <li class="nav-item" th:if="${session.user.staffRole == 'Admin'}">
                    <a class="nav-link" href="#" onclick="showSection('staff-section')">STAFF</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="showSection('facility-section')">FACILITY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="showSection('report-section')">REPORT</a>
                </li>
                </ul>
                <ul class="navbar-nav ms-auto"> <!-- ms-auto pushes this section to the right -->
                    <li class="nav-item dropdown">
                      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" th:text="${session.user.staffEmail}">
                        Action
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end"> <!-- dropdown-menu-end aligns the menu to the right -->
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" onclick="signOut()" href="#">LOGOUT</a></li>
                      </ul>
                    </li>
                  </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1 class="text-center">Welcome to the Admin Dashboard</h1>

       
        
<!-- Booking Section -->
<div id="booking-section" class="content-section">
    <h2>Booking List</h2>

    <div class="container text-center">
        <div id="calendar-container">
            <div id="calendar" class="mb-7"></div>
        </div>
    </div>

    <div class="table-responsive mt-4">
        <div th:if="${bookingList.empty}">
            <p>There is no booking today.</p>
        </div>
        <table class="table table-bordered table-striped" th:if="${!bookingList.empty}">
            <thead>
                <tr>
                    <th>Booking ID</th>
                    <th>Facility</th>
                    <th>Customer Detail</th>
                    <th>Booking Type</th>
                    <th>Booking Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Status</th>
                    <th>Total Amount</th>
                    <th>Company Name</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="booking : ${bookingList}" th:if="${booking.status == 'Reserved' or booking.status == 'Occupied'}">
                    <td>
                        <a th:text="${booking.bookingID}" th:href="@{/booking/{id}(id=${booking.bookingID})}"></a>
                    </td>
                    
                    <td>
                        <p th:text="${booking.facilityID.facilityID}"></p>
                        <p th:text="${booking.facilityID.facilityName}"></p>
                    </td>
                    <td>
                        <p th:text="${booking.customerID.customerName}"></p>
                        <p th:text="${booking.customerID.customerPhone}"></p>
                        <p th:text="${booking.customerID.customerEmail}"></p>
                    </td>
                    <td th:text="${booking.bookingType}"></td>
                    <td th:text="${booking.bookingDate}"></td>
                    <td th:text="${booking.bookingStartTime}"></td>
                    <td th:text="${booking.bookingEndTime}"></td>
                    <td>
                        <div class="badge" th:classappend="${booking.status == 'Reserved'} ? 'bg-warning text-dark' : 'bg-info text-white'" th:text="${booking.status}"></div>
                        <div class="badge bg-dark" th:text="${booking.getpaymentType()}"></div>
                    </td>
                    <td>
                        <div th:text="${booking.totalamount}"></div>
                        <div class="badge" th:classappend="${booking.paymentStatus == 'Unpaid'} ? 'bg-danger' : 'bg-success'" th:text="${booking.paymentStatus}" th:onclick="showPaymentProofModal('${booking.bookingID}')"></div>
                    </td>
                    <td th:text="${booking.companyID != null ? booking.companyID.companyName : 'N/A'}">N/A</td>
                    <td class="text-center">
                        <div th:if="${booking.status == 'Reserved'}">
                            <a th:href="@{/Admin/CheckInBooking(bookingID=${booking.bookingID})}" class="btn btn-success">Check In</a>
                            <a th:href="@{/Admin/cancelBooking(bookingID=${booking.bookingID})}" class="btn btn-danger">Cancel</a>
                        </div>
                        <div th:if="${booking.status == 'Occupied'}">
                            <a th:href="@{/Admin/CheckOutBooking(bookingID=${booking.bookingID})}" class="btn btn-warning">Check Out</a>
                        </div>
                        <div th:if="${booking.paymentStatus == 'Unpaid'}">
                            <a th:href="@{/Admin/PaidBooking(bookingID=${booking.bookingID})}" class="btn btn-primary">Mark as Paid</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

        <!-- Staff Section -->
        <div id="staff-section" class="content-section" style="display:none;">
            <h2>Staff List</h2>
            <a th:href="@{/Admin/AddStaff}" class="btn btn-success">Add Staff</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="staff : ${staffList}">
                        <td th:text="${staff.staffID}"></td>
                        <td th:text="${staff.staffName}"></td>
                        <td th:text="${staff.staffPhone}"></td>
                        <td th:text="${staff.staffEmail}"></td>
                        <td th:text="${staff.staffRole}"></td>
                        <td>
                            <a th:href="@{/Admin/deleteStaff(uid=${staff.staffID})}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

<!-- Report Section -->
<div id="report-section" class="content-section" style="display:none;">
    <h2>Report List</h2>
    <div class="mb-3">
        <input type="text" id="searchInput" class="form-control" placeholder="Search for bookings..." onkeyup="searchTable()">
    </div>
    <div class="mb-3">
        <button onclick="sortTable(0)" class="btn btn-primary">Sort by Date</button>
        <button onclick="printReport()" class="btn btn-secondary">Print Report</button>
    </div>
    <div class="table-responsive">
        <table id="reportTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Report Date</th>
                    <th>Total Sales (RM)</th>
                    <th>Bookings</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <tr th:each="report : ${reportList}">
                    <td th:text="${#dates.format(report.reportDate, 'yyyy-MM-dd')}"></td>
                    <td th:text="${report.totalSale}"></td>
                    <td>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Booking ID</th>
                                    <th>Customer</th>
                                    <th>Facility</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Booking Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="booking : ${report.bookingID}">
                                    <td th:text="${booking.bookingID}"></td>
                                    <td th:text="${booking.customerID.customerName}"></td>
                                    <td th:text="${booking.facilityID.facilityName}"></td>
                                    <td th:text="${booking.bookingStartTime}"></td>
                                    <td th:text="${booking.bookingEndTime}"></td>
                                    <td>
                                        <div class="badge bg-dark" th:text="${booking.status}"></div>
                                        <div class="badge bg-dark" th:text="${booking.getpaymentType}"></div>
                                        <div class="badge bg-dark" th:text="${booking.paymentStatus}"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center" id="paginationNumbers"></ul>
    </nav>
</div>
</div>




        <!-- Facility Section -->
    <div id="facility-section" class="content-section" style="display:none;">
        <h2>Facility List</h2>
        <div class="table-responsive mt-4">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price per hour</th>
                        <th>Open Time</th>
                        <th>Close Time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="facility : ${facilityList}">
                        <td th:text="${facility.facilityID}"></td>
                        <td th:text="${facility.facilityName}"></td>
                        <td th:text="${facility.facilityPrice + '0 MYR'}"></td>
                        <td th:text="${facility.facilityOpenTime}"></td>
                        <td th:text="${facility.facilityCloseTime}"></td>
                        <td class="text-center">
                            <a th:href="@{/Admin/editFacility(uid=${facility.facilityID})}" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script th:src="@{/firebase.js}"></script>
    <script th:src="@{/authSignOut.js}"></script>

    <script>
        function showSection(sectionId) {
            var sections = document.getElementsByClassName('content-section');
            for (var i = 0; i < sections.length; i++) {
                sections[i].style.display = 'none';
            }
            document.getElementById(sectionId).style.display = 'block';
        }

        document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var today = new Date().toISOString().split('T')[0]; // Get today's date in YYYY-MM-DD format

        calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridDay' // Add week and day views
            },
            views: {
            dayGridMonth: { buttonText: 'Month' },
            timeGridDay: { buttonText: 'Day' }
            },
            validRange: {
            start: today // Disable past dates
            },
            eventTimeFormat: {
            hour: '2-digit',
            minute: '2-digit',
            hour12: true,
            },
            events: function(fetchInfo, successCallback, failureCallback) {
            fetch('/booking/events')
                .then(response => response.json())
                .then(events => {
                var now = new Date();
                events = events.filter(event => new Date(event.start) >= now); // Remove past events
                events = events.map(event => {
                    event.start = new Date(event.start).toISOString();
                    event.end = new Date(event.end).toISOString();
                    event.extendedProps = { facility: event.facility }; // Ensure facility is part of extendedProps
                    return event;
                });
                successCallback(events);
                })
                .catch(error => {
                console.error('Error fetching events:', error);
                failureCallback(error);
                });
            },
            dateClick: function(info) {
            calendar.changeView('timeGridDay', info.dateStr); // Change to timeGridDay view
            },
            eventClick: function(info) {
            const eventTitle = info.event.title;
            const eventStart = info.event.start;
            const eventEnd = info.event.end;

            const formattedDate = new Date(eventStart).toLocaleDateString('en-GB');
            const formattedStartTime = new Date(eventStart).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' });
            const formattedEndTime = new Date(eventEnd).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' });

            const message = `Booked: ${eventTitle}\nDate: ${formattedDate}\nStart at: ${formattedStartTime}\nEnd at: ${formattedEndTime}`;
            alert(message);
            }
        });
        calendar.render();
        });

        function searchTable() {
    var input, filter, table, tr, td, i, j, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toLowerCase();
    table = document.getElementById("reportTable");
    tr = table.getElementsByTagName("tr");
    for (i = 1; i < tr.length; i++) {
        tr[i].style.display = "none";
        td = tr[i].getElementsByTagName("td");
        for (j = 0; j < td.length; j++) {
            if (td[j]) {
                txtValue = td[j].textContent || td[j].innerText;
                if (txtValue.toLowerCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    break;
                }
            }
        }
    }
}

function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("reportTable");
    switching = true;
    dir = "asc";
    while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            if (dir == "asc") {
                if (new Date(x.innerHTML.toLowerCase()) > new Date(y.innerHTML.toLowerCase())) {
                    shouldSwitch = true;
                    break;
                }
            } else if (dir == "desc") {
                if (new Date(x.innerHTML.toLowerCase()) < new Date(y.innerHTML.toLowerCase())) {
                    shouldSwitch = true;
                    break;
                }
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount++;
        } else {
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
        }
    }
    displayTable(currentPage);
}

var currentPage = 1;
var rowsPerPage = 20;

function displayTable(page) {
    var table = document.getElementById("reportTable");
    var rows = table.getElementsByTagName("tr");
    var totalRows = rows.length - 1;
    var start = (page - 1) * rowsPerPage + 1;
    var end = start + rowsPerPage - 1;

    for (var i = 1; i <= totalRows; i++) {
        if (i >= start && i <= end) {
            rows[i].style.display = "";
        } else {
            rows[i].style.display = "none";
        }
    }
    updatePaginationNumbers(totalRows);
}

function updatePaginationNumbers(totalRows) {
    var paginationNumbers = document.getElementById("paginationNumbers");
    paginationNumbers.innerHTML = "";
    var totalPages = Math.ceil(totalRows / rowsPerPage);

    for (var i = 1; i <= totalPages; i++) {
        var pageItem = document.createElement("li");
        pageItem.className = "page-item" + (i === currentPage ? " active" : "");
        pageItem.innerHTML = `<a class="page-link" href="#" onclick="goToPage(${i})">${i}</a>`;
        paginationNumbers.appendChild(pageItem);
    }
}

function goToPage(page) {
    currentPage = page;
    displayTable(currentPage);
}

function previousPage() {
    if (currentPage > 1) {
        currentPage--;
        displayTable(currentPage);
    }
}

function nextPage() {
    var table = document.getElementById("reportTable");
    var rows = table.getElementsByTagName("tr");
    var totalRows = rows.length - 1;
    var totalPages = Math.ceil(totalRows / rowsPerPage);

    if (currentPage < totalPages) {
        currentPage++;
        displayTable(currentPage);
    }
}

// Initial display
displayTable(currentPage);

function printReport() {
    var printContents = document.getElementById("report-section").innerHTML;
    var originalContents = document.body.innerHTML;
    document.body.innerHTML = printContents;
    window.print();
    document.body.innerHTML = originalContents;
}


    </script>
</body>
</html>
